@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  padding: 0 100px;
  min-height: 100vh;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 650px;
  height: 100%;
  background: rgb(233, 236, 14);
  z-index: -2;
  border: 3px solid red;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  padding: 30px 0;
  padding-left: 60px;
}

header .logo {
  font-weight: 700;
  font-size: 27px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin-right: 340px;
}

header ul li {
  font-weight: 500;
  border: 3px solid purple;
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  margin: 0 10px;
}

header ul li {
  position: relative;
  padding: 4px 10px;
}

header ul li:nth-child(1) a,
header ul li:nth-child(2) a {
  color: black;
}
/* HEADER CONTENT */

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 260px;
  margin-left: 70px;
  margin-top: 85px;
}

/* BANNER TEXT */

.bannerText {
  font-size: 20px;
}

/* BUTTON */

button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

/* BORDERS */

header {
  border: 9px solid green;
}
.container {
  border: 5px solid red;
}
.content {
  margin-top: 100px;
  border: 6px solid blue;
}
.bannerText {
  border: 5px solid yellowgreen;
  font-size: 23px;
  font-weight: 300;
  /* position: relative;
  max-width: 500px;
  margin-right: 50px; */
}
.bannerImg {
  border: 6px solid purple;
}
.authorImg {
  position: relative;
  border: 4px solid pink;
  display: flex;
  font-size: 17px;
}
.aboutMe {
  border: 5px solid purple;
  position: relative;
  padding-left: 45px;
  margin-top: 7px;
}

.aboutMe .social-media {
  border: 6px solid orange;
  display: flex;
  flex-direction: row;
}
